html, body {
    height: 100%; /* Make sure the body takes the full height */
    margin: 0; /* Remove default margin */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center the elements vertically */
    align-items: center; /* Center the elements horizontally */
    background-image: url(images/steve-johnson-qMH3AUisK5w-unsplash.jpg);
    background-size: 101rem;
}

.container {
    text-align: center;
    background: #f5f5f5;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    margin-bottom: 20px; /* Add margin below the container */
}

.caution {
    text-align: center; /* Center the caution text */
    margin-top: 0; /* No top margin needed, but can adjust as needed */
    color: #000000; /* Caution text color */
    font-size: 0.9rem; /* Ensures the font size. */
}

h1 {
    color: #333;
}

input[type="text"] {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    width: 70%;
    text-align: center;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

dialog {
    padding: 20px;
    border: none;
    border-radius: 8px;
    background-color: #F0F8FF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

dialog h2 {
    margin-top: 0;
    color: #333;
}